.main {
    background-color: #FAECE1;
}

.info {
    text-align: center;
    color: #542400;
    padding-top: 25px;
    font-size: 170%;
    font-family: 'Montserrat', sans-serif;
}

.name {
    color: #542400;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
}

.image {
    min-height: 100px;
}

.verify_button {
    align-self: center;
    border: none;
    background-color: #542400;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.verify_button:hover {
    background-color: rgb(162, 126, 102);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.verify {
    padding-bottom: 100px;
    padding-left: 200px;
}
