.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(190, 163, 122);
}
.button_group{
    display: flex;
}
.logo{
color: white;
margin: 20px;
font-size: x-large;
cursor: pointer;
transition: all 0.3s;
}
.header_button{
    border: none;
    background-color: rgb(128, 105, 82);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
}
.header_button:hover{
   background-color: rgb(162, 126, 102);
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.steps{
    display: inline-flex;
    gap: 20px;
    margin: 3%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.step{
    /* position: static; */
    background-color: aqua;
    width: 250px;
    height: 200px;
    padding: 2%;
}
.logo:hover{
    color: rgb(66, 65, 64);
}