.main{
    background-color: #c8b8ad;
}
.header{
    align-content: center;
    align-self: center;
    width: 100%;
    display: grid;
    grid-template-areas: 'logo group';
    gap: 10px;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    background-color: #FAECE1;
}
.logo{
    grid-area: "logo";
    color: #542400;
    margin: 30px;
    font-size: 20px;
    padding: 15px 10px 20px 7px;
    cursor: pointer;
    transition: all 0.3s;
}
.button_group{
    grid-area: "group";
    display: grid;
    grid-template-areas: 'button1 button2 button3';
    margin-right: 30px;
}
.main-text{
    color: #542400;
    margin: 30px;
    font-size: 175%;
    padding: 15px 10px 20px 7px;
    text-align: center;
}
.rooms{
    font-size: 125%;
    padding: 0px 10px 20px 7px;
}